EXCITED8DCAP1:
EXCITED8DCAP1.NAME:    EXCITED8
EXCITED8DCAP1.CHAIN:   h10
#EXCITED8DCAP1.FILEGEN: dcap://grid-srm.rzg.mpg.de:22128/pnfs/rzg.mpg.de/data/opal/ntuple_root/qcd/mc11925_1_200.root
#EXCITED8DCAP1.DATA: dcap://grid-srm.rzg.mpg.de:22128/pnfs/rzg.mpg.de/data/opal/ntuple_root/qcd/mc11925_1_200.root dcap://grid-srm.rzg.mpg.de:22128/pnfs/rzg.mpg.de/data/opal/ntuple_root/qcd/mc11925_2_200.root
EXCITED8DCAP1.FILEGEN: https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc11925_1_200.root
EXCITED8DCAP1.DATA:    https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc11925_1_200.root  https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc11925_2_200.root
#EXCITED8DCAP1.FILEGEN:   /home/andriish/opalrivet/trunk/NEW/mc11925_1_200.root
#EXCITED8DCAP1.DATA:      /home/andriish/opalrivet/trunk/NEW/mc1*.root
EXCITED8DCAP1.FILES:     EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
EXCITED8DCAP1.DEFINES: -DDATA  \'-DFILENAME=\"./Output/DATA.root\"\'  \'-DENERGY=\"189\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
EXCITED8DCAP1.NUMBER:  1000000000




#EXANPLES



OPAL_91:
OPAL_91.NAME:    EXCITED8
OPAL_91.CHAIN:   h10
OPAL_91.FILEGEN: https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da91_96_200.root
OPAL_91.DATA:    https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da91_2k_1_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da91_2k_2_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da91_96_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da91_97_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da91_98_1_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da91_98_2_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da91_99_1_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da91_99_2_200.root
OPAL_91.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
OPAL_91.DEFINES:   \'-DFILENAME=\"./Output/OPAL_91.root\"\'  \'-DENERGY=\"91\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
OPAL_91.NUMBER:  10000




OPAL_130:
OPAL_130.NAME:    EXCITED8
OPAL_130.CHAIN:   h10
OPAL_130.FILEGEN: https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc12162_1_200.root
OPAL_130.DATA:    https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da130_95_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da130_97_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc12162_1_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc12162_2_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc11925_1_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc11925_2_200.root
OPAL_130.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
OPAL_130.DEFINES:   \'-DFILENAME=\"./Output/OPAL_130.root\"\'  \'-DENERGY=\"130\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
OPAL_130.NUMBER:  1000000000


# NT_VERSION 200

#Generator       Process   Runno    Sigma    Lumi  Part    File

#130 GeV

#Data            ALL         130        0   2.70     0    da130_95
#Data            ALL         130        0   2.61     0    da130_97
#PYTHIA          (Z/g)*    12162    335.9   0.0      2    mc12162
#HERWIG          (Z/g)*    11925    334.9   0.0      2    mc11925


OPAL_136:
OPAL_136.NAME:    EXCITED8
OPAL_136.CHAIN:   h10
OPAL_136.FILEGEN: https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da136_95_200.root
OPAL_136.DATA:    https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da136_95_200.root https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da136_97_200.root
OPAL_136.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
OPAL_136.DEFINES:   \'-DFILENAME=\"./Output/OPAL_136.root\"\'  \'-DENERGY=\"136\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
OPAL_136.NUMBER:  1000000000



OPAL_161:
OPAL_161.NAME:    EXCITED8
OPAL_161.CHAIN:   h10
OPAL_161.FILEGEN: https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da161_200.root
OPAL_161.DATA:    https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da161_200.root
OPAL_161.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
OPAL_161.DEFINES:   \'-DFILENAME=\"./Output/OPAL_161.root\"\'  \'-DENERGY=\"161\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
OPAL_161.NUMBER:  1000000000



OPAL_172:
OPAL_172.NAME:    EXCITED8
OPAL_172.CHAIN:   h10
OPAL_172.FILEGEN: https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da172_200.root
OPAL_172.DATA:    https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da172_200.root
OPAL_172.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
OPAL_172.DEFINES:   \'-DFILENAME=\"./Output/OPAL_172.root\"\'  \'-DENERGY=\"172\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
OPAL_172.NUMBER:  1000000000




OPAL_183:
OPAL_183.NAME:    EXCITED8
OPAL_183.CHAIN:   h10
OPAL_183.FILEGEN: https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da183_200.root
OPAL_183.DATA:    https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da183_200.root 
OPAL_183.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
OPAL_183.DEFINES:   \'-DFILENAME=\"./Output/OPAL_183.root\"\'  \'-DENERGY=\"183\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
OPAL_183.NUMBER:  1000000000



OPAL_189:
OPAL_189.NAME:    EXCITED8
OPAL_189.CHAIN:   h10
OPAL_189.FILEGEN: https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da189_200.root
OPAL_189.DATA:    https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/da189_200.root
OPAL_189.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
OPAL_189.DEFINES:   \'-DFILENAME=\"./Output/OPAL_189.root\"\'  \'-DENERGY=\"189\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
OPAL_189.NUMBER:  1000000000


######################


MC_OPAL_189:
MC_OPAL_189.NAME:    EXCITED8
MC_OPAL_189.CHAIN:   h10
MC_OPAL_189.FILEGEN: https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc11925_1_200.root
MC_OPAL_189.DATA:    https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc11925_1_200.root  https://grid-dav.rzg.mpg.de:2880/opal/ntuple_root/qcd/mc11925_2_200.root
MC_OPAL_189.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
MC_OPAL_189.DEFINES: -DMC  \'-DFILENAME=\"./Output/MC_OPAL_189.root\"\'  \'-DENERGY=\"189\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
MC_OPAL_189.NUMBER:  1000000000




MC_OPAL_189_TEST:
MC_OPAL_189_TEST.NAME:    EXCITED8
MC_OPAL_189_TEST.CHAIN:   h10
MC_OPAL_189_TEST.FILEGEN: /home/andriish/opalrivet/trunk/NEW/mc11925_1_200.root
MC_OPAL_189_TEST.DATA:    /home/andriish/opalrivet/trunk/NEW/mc11925_1_200.root
MC_OPAL_189_TEST.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
MC_OPAL_189_TEST.DEFINES: -DMC -DMCTRUE \'-DFILENAME=\"./Output/MC_OPAL_189_TEST.root\"\'  \'-DENERGY=\"189\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
MC_OPAL_189_TEST.NUMBER:  1000000000






DATA_OPAL_189_TEST:
DATA_OPAL_189_TEST.NAME:    EXCITED8
DATA_OPAL_189_TEST.CHAIN:   h10
DATA_OPAL_189_TEST.FILEGEN: /home/andriish/opalrivet/trunk/NEW/mc11925_1_200.root
DATA_OPAL_189_TEST.DATA:    /home/andriish/opalrivet/trunk/NEW/mc11925_1_200.root
DATA_OPAL_189_TEST.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
DATA_OPAL_189_TEST.DEFINES: -DDATA  \'-DFILENAME=\"./Output/DATA_OPAL_189_TEST.root\"\' \'-DMCFILENAME=\"./Output/MC_OPAL_189_TEST.root\"\'  \'-DENERGY=\"189\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
DATA_OPAL_189_TEST.NUMBER:  1000000000



MC_OPAL_189_TEST2:
MC_OPAL_189_TEST2.NAME:    EXCITED8
MC_OPAL_189_TEST2.CHAIN:   h10
MC_OPAL_189_TEST2.FILEGEN: /home/andriish/opalrivet/trunk/NEW/mc11925_1_200.root
MC_OPAL_189_TEST2.DATA:    /home/andriish/opalrivet/trunk/NEW/da130_95_200.root /home/andriish/opalrivet/trunk/NEW/mc11925_1_200.root
MC_OPAL_189_TEST2.FILES:   EXCITED8.C   Makefile  EXCITEDLinkDef.h ZROOT.h Helpers.h  Cuts.h  TFastJet.h TFastJet.cxx
MC_OPAL_189_TEST2.DEFINES:  \'-DFILENAME=\"./Output/MC_OPAL_189_TEST2.root\"\'  \'-DENERGY=\"189\"\'   \'-DANALYSISTYPE=kLEP\'  -DfillList 
MC_OPAL_189_TEST2.NUMBER:  1000000000





#	da130_95_200.root 	2036858 	Mon Jun 23 15:08:21 CEST 2014
#	da130_97_200.root 	2128845 	Mon Jun 23 15:08:19 CEST 2014
#	da136_95_200.root 	1662776 	Mon Jun 23 15:08:18 CEST 2014
#	da136_97_200.root 	2226323 	Mon Jun 23 16:29:52 CEST 2014
#	da161_200.root 	4841632 	Mon Jun 23 16:29:50 CEST 2014
#	da172_200.root 	3692795 	Mon Jun 23 16:29:48 CEST 2014
#	da183_200.root 	17332284 	Mon Jun 23 16:29:45 CEST 2014
#	da189_200.root 	52904842 	Mon Jun 23 16:29:38 CEST 2014
#	da1999_200.root 	58277554 	Mon Jun 23 16:29:25 CEST 2014
#	da2000_200.root 	54065461 	Mon Jun 23 16:29:11 CEST 2014
#	da91_2k_1_200.root 	174455284 	Mon Jun 23 16:28:50 CEST 2014
#	da91_2k_2_200.root 	98131031 	Mon Jun 23 16:27:55 CEST 2014
#	da91_96_200.root 	66571836 	Mon Jun 23 16:27:29 CEST 2014
#	da91_97_200.root 	132222050 	Mon Jun 23 16:27:10 CEST 2014
#	da91_98_1_200.root 	165467805 	Mon Jun 23 16:26:37 CEST 2014
#	da91_98_2_200.root 	39380785 	Mon Jun 23 16:25:56 CEST 2014
#	da91_99_1_200.root 	176975624 	Mon Jun 23 15:21:27 CEST 2014
#	da91_99_2_200.root 	80117278 	Mon Jun 23 16:25:45 CEST 2014 

